<div class="saved-guest" id=<%= "saved-guest-#{guest.id}"%> >
  <div class="guest-info">
    <% is_attending = guest.attending %>
    <div class="guest-name">
      <p><%= guest.name %></p>
    </div><br />
    <% if guest.guest_type == "family" %>
      <p>Age : <%= guest.age %></p><br />
    <% end%>
    <p>
      Attending : <span class=<%= "attending-#{is_attending}" %>><%= is_attending ? "Yes" : "No" %></span>
    </p>
    <% if is_attending %>
      <% if !guest.diet.blank? %>
        <p>Dietary Restrictions: <span class="italic"><%= guest.diet %></span></p>
      <% end %>
      <% if !guest.song.blank? %>
        <p>Song : <span class="italic"><%= guest.song %></span></p><br />
      <% end %>
    <% end %>
  </div>
  <button class="custom-button edit-button" id=<%= "edit-button-#{guest.id}" %> >Edit</button>
</div>
