<div class="embedded-form">
  <% @guest = Guest.new(account: @account) %>
  <%= form_for [:accounts, @guest] do |f| %>
    <%= f.label :first_name %>:
    <%= f.text_field :first_name %><br />

    <%= f.label :last_name %>:
    <%= f.text_field :last_name %><br />

    <%= f.label :attending, "Are you attending?" %>
    <%= f.radio_button :attending, true, checked: @guest.attending %>
    <%= label_tag(:attending_true, "Yes") %>
    <%= f.radio_button :attending, true, checked: !@guest.attending %>
    <%= label_tag(:attending_false, "No, I am lame.") %><br />

    <%= f.hidden_field :guest_type, value: "me" %><br />

  <% end %>
  <input type="submit" value="RSVP" id="rsvp-me-submit-button" />
  <input type="submit" value="Cancel" id="rsvp-me-cancel-button" />
</div>