<div class="accounts-rsvp">
  <div class="guest-type-container">
    <% if @account.guests.empty? %>
      <p>OK let's do this! Start by RSVP'ing for yourself, then go down the list and add people as necessary and RSVP for them too. When you're done, sign out and you'll go back to the main page. You can come back at any time before April 25th to change what you have here.</p>
    <% else %>
      <p>Remember to make any changes by April 25th.</p>
    <% end%>
    <br />
    <h2>Me</h2>
    <hr />
    <div class="guest-container" id="rsvp-me">
      <% guest_me = @account.guests.where(guest_type: "me").first %>
      <% if guest_me %>
        <div class="saved-guest-wrapper">
          <%= render partial: 'accounts/shared/guest', locals: { id: guest_me.id, type: "me" } %>
          <%= render partial: 'accounts/shared/edit_form_shared', locals: { id: guest_me.id, type: "me" } %>
        </div>
      <% else %>
        <p>This is you. You should RSVP.</p><br />
        <%= render :partial => 'accounts/shared/rsvp_form_shared', locals: { account: @account, type: "me" } %>
        <button class="custom-button add-button" id="rsvp-add-button-me">RSVP</button>
      <% end %>
    </div>
  </div>
  <br />
  <div class="guest-type-container">
    <h2>My Guest</h2>
    <hr />
    <div class="guest-container" id="rsvp-guest">
      <% guest_date = @account.guests.where(guest_type: "guest").first %>
      <% if guest_date %>
        <div class="saved-guest-wrapper">
          <%= render partial: 'accounts/shared/guest', locals: { id: guest_date.id, type: "guest" } %>
          <%= render partial: 'accounts/shared/edit_form_shared', locals: { id: guest_date.id, type: "guest" } %>
        </div>
      <% else %>
        <p>Someone else on your invitation? You should RSVP for them here. Otherwise you can leave this blank.</p><br />
        <%= render :partial => 'accounts/shared/rsvp_form_shared', locals: { account: @account, type: "guest" } %>
        <button class="custom-button add-button" id="rsvp-add-button-guest">Add</button>
      <% end %>
    </div>
  </div>
  <br />  
  <div class="guest-type-container">
    <h2>My Children</h2>
    <hr /> 
    <div class="guest-container" id="rsvp-family">
      <% guest_children = @account.guests.where(guest_type: "family").order("LOWER(first_name)") %>
      <% if guest_children.count > 0 %>
        <ul>
        <% guest_children.each do |child| %>
          <li>
            <div class="saved-guest-wrapper">
              <%= render partial: 'accounts/shared/guest', locals: { id: child.id, type: "family" } %>
              <%= render partial: 'accounts/shared/edit_form_shared', locals: { id: child.id, type: "family" } %>
            </div>  
          </li>
        <% end %>        
        </ul>
      <% else%>
        <p>Bringing kids? Let it be known! Add them here.</p><br />
      <% end %>
      <%= render :partial => 'accounts/shared/rsvp_form_shared', locals: { account: @account, type: "family" } %>
      <button class="custom-button add-button" id="rsvp-add-button-family">Add</button>
    </div>
  </div>
  <br />
  <div class="guest-type-container">
    <h2>People I'm helping out because it's 2014 and computers scare them</h2>
    <hr />   
    <div class="guest-container" id="rsvp-other">
      <% guest_other = @account.guests.where(guest_type: "other").order("LOWER(first_name)") %>
      <% if guest_other.count > 0 %>
        <ul>
        <% guest_other.each do |other_guest| %>
          <li>
            <div class="saved-guest-wrapper">
              <%= render partial: 'accounts/shared/guest', locals: { id: other_guest.id, type: "other" } %>
              <%= render partial: 'accounts/shared/edit_form_shared', locals: { id: other_guest.id, type: "other" } %>
            </div>  
          </li>
        <% end %>
        </ul>
      <% else%>
        <p>Grandma doesn't know what the inter-tubes are? Be a champ and add her here.</p><br />
      <% end %>
      <%= render :partial => 'accounts/shared/rsvp_form_shared', locals: { account: @account, type: "other" } %>
      <button class="custom-button add-button" id="rsvp-add-button-other">Add</button>
      </div>
  </div>
  <br />   
  <div class="content-link content-link-margin"><%= link_to "Having Trouble?", accounts_trouble_path %></div>
  <div class="content-link content-link-margin"><%= link_to "Sign Out", destroy_account_session_path %></div>
</div>
