<h1>Activities</h1>
<br />
<div class="content-block">
  <p>
    <span class="content-link"><a href="http://travel.usnews.com/Minneapolis_MN/Things_To_Do/" target="_blank">Here</a></span> are some things the interwebs recommend you try and here's a list of our own:
  </p>
  <br />
</div>
<div class="content-block">
  <h2>Walker Art Center and the Sculpture Garden:</h2>
  <div class="info-image-embed"><%= image_tag("ffp_spoonbridge.jpg", alt: "Spoonbridge") %></div>
  <p>
    Here you'll find the Spoonbridge and Cherry, which is the iconic symbol of the city of Minneapolis (translation: Photo Op!). There are also tons of other sculptures to check out, include a big fish by Frank Gehry. The free outdoor sculpture garden is worth the trip, but head inside for one of the top five modern art experiences you can have in the country. To get there, take a little walk headed southwest on Nicollet and turn right on W Grant St. Keep a straight course through Loring park and over the freeway on a pedestrian bridge. 
  </p>
  <br />
</div>
<div class="content-block">
  <h2>Minneapolis Institute of Arts:</h2>
  <div class="info-image-embed"><%= image_tag("mia.jpg", alt: "Minneapolis Institute of Arts") %></div>     
  <p>  
    Need more art? Fear not. There's another art museum a short bus ride or modest walk from downtown. And its free!
  </p>
  <br />
</div>
<div class="content-block">
  <h2>Go to a Twins Game</h2>
  <div class="info-image-embed"><%= image_tag("target_field.jpg", alt: "Target Field") %></div> 
  <p>
    Target Field is right downtown, easily walkable from the hotel, and a sweet place to hang out on a nice day. Unfortunately, the Twins won't be there on Friday. BUT...if you happen to be in town real early on Thursday, the Twins play the Rangers at 1:10pm.
  </p>
  <br />
</div>
<br />
<div class="content-block">
  <h2>Go to a Farmers Market</h2>
  <div class="info-image-embed"><%= image_tag("farmers_market.jpg", alt: "Farmers Market") %></div> 
  <p>
    Farmer's market's are great Saturday morning things to do on a nice day before a wedding. There's a bunch of them around too. The Minneapolis Farmers Market is a nice big one on the outskirts of downtown and is a perfect place to get your morning corndog. For more info check out <span class="content-link"><%= link_to "here", "http://www.mplsfarmersmarket.com/FreshNews/", target: "_blank" %></span> for more details.
  </p>
  <br />
</div>

<div class="content-block">
  <h2>Rooftop Patio Bars</h2>
  <div class="info-image-embed"><%= image_tag("rooftop.jpg", alt: "Rooftop bar") %></div> 
  <p>
    These are popular in spring/summer in Downtown and Uptown. Check out what <span class="content-link"><%= link_to "Yelp", "http://www.yelp.com/search?find_desc=rooftop+bar&find_loc=Minneapolis%2C+MN" %></span> and <span class="content-link"><%= link_to "The Minneapolis Eater", "http://minneapolis.eater.com/archives/2013/06/18/a-handy-guide-to-minneapoliss-best-rooftop-happy-hours.php" %></span> have to say about the best spots.
  </p>
  <br />
</div>
<br />

<div class="content-block">
  <h2>The Guthrie Theater</h2>
  <div class="info-image-embed"><%= image_tag("guthrie_theater.jpg", alt: "Guthrie Theater") %></div> 
  <p>
    Architectural delight or a Transformer on a bad day? You be the judge. Go check out the Guthrie Theater; you can walk around inside all you want and I hear they do shows there too. There's this cool jutting thing called the Endless Bridge which has a sweet view of the Stone Arch Bridge. Which brings us to... 
  </p>
  <br />
</div>
<br />
<div class="content-block">
  <h2>The Stone Arch Bridge</h2>
  <div class="info-image-embed"><%= image_tag("stone_arch_bridge.jpg", alt: "Stone Arch Bridge") %></div> 
  <p>
    I hear its nice to walk on and has a great view of the city. And of the Guthrie! Seriously, go for a walk on this thing if you have time. Also, at the base you'll find the...
  </p>
  <br />
</div>
<br />
<div class="content-block">
  <h2>Mill Ruins Park</h2>
  <div class="info-image-embed"><%= image_tag("mill_city_ruins.jpg", alt: "Mill City Ruins") %></div> 
  <p>
    What's filled with flour and can explode? A flour mill! That was the joke. Anywho, this is the site of the once largest-flour-mill-in-the-world that, you guessed it, totally exploded in what is now known as the Great Mill Disaster. The site is now an interesting little park that makes for some cool engagement photos.
  </p>
  <br />
</div>
<br />
<div class="content-block">
  <h2>Uptown</h2>
  <div class="info-image-embed"><%= image_tag("uptown.jpg", alt: "Uptown") %></div> 
  <p>
    This is the part of town where we live, and we really like it here. It has a bunch of really nice restaurants, bar, and shops. Its's also got an old school arcade, a couple of movie theaters, and a cool little bowling alley. It's a short bus ride away and is very close to the lakes, so come check it out!
  </p>
  <br />
</div>
<br />
<div class="content-block">
  <h2>Minnehaha Falls</h2>
  <div class="info-image-embed"><%= image_tag("minnehaha_falls.jpg", alt: "Minnehaha Falls") %></div> 
  <p>
    They won't be awesome and frozen over in May (at least we certainly hope not!), but the Falls are still a nice place to visit, walk around, and just be outside. You can get to them from the light rail.
  </p>
  <br />
</div>
<br />
<div class="content-block">
  <h2>Explore the Skyway</h2>
  <div class="info-image-embed"><%= image_tag("skyway.jpg", alt: "Skyway") %></div> 
  <p>
    The Skyway is a system of above-ground, enclosed walkways that connect much of downtown but also have a bunch of shops lining them as well. Sometimes its like walking through a mall, sometimes it's like walking through a hotel lobby, and other times its like walking through a creepy hallway with a smelly carpet. But whatever, its cool...go explore and see where it takes you! <span class="editors-note">(Note that this is usually more a business hours type-thing. Think of it like a mall the closes early.)</span>
  </p>
  <br />
</div>
<br />
<div class="content-block">
  <h2>Walk around the lakes:</h2>
  <div class="info-image-embed"><%= image_tag("lake_calhoun.jpg", alt: "Lake Calhoun") %></div> 
  <p>
    What would a trip to Minnesota be without a stop at lake? There's a couple nice ones a short bus ride from downtown. Lake Calhoun is the most popular and has a restaurant and various small vessel rentals available. Lake of the Isles is a little quieter and beautiful. To get there, hop on the 17 bus Westbound from the corner of 5th and Nicollet Mall. Jump off about 25 minutes later on the corner of Lagoon Av & Knox Av S. At that point Lake of the Isles is just north and Lake Calhoun is just South, so hop on a trail and get walking!
  </p>
  <br />
</div>
<div class="content-block">
  <h2>Mall of America</h2>
  <div class="info-image-embed"><%= image_tag("moa_amusement_park.jpg", alt: "Mall of America amusement park") %></div> 
  <p>
    Your mall sucks and ours is awesome. Go big or go home, am I right or am I right?
  </p><br />
  <p>  
    Well, OK, it isn't for everyone and we wouldn't recommend spending a nice sunny day inside at a mall, but it is the biggest mall in the country... and let's face it, what else have you heard of in Minnesota? Along with all the obligatory shopping experiences you'd expect, there is also an amusement park (!) in the middle of the mall, an aquarium in the basement, and a movie theater on the top floor. To get there, hop on the light rail and ride it a little bit past the airport. 
  </p>
  <br />
</div>
<br />
<div class="content-block">
  <h2>More things coming soon!</h2>
  <p><span class="editors-note">This isn't the greatest list of things to do in the Twin Cities, this is just a tribute.</span></p>
</div>
<br />

