<p>
<span class="editors-note">Beer information courtesy of the local expert: Don Undis, father of the bride!</span>
</p>
<br />
<br />

<h1>Get these:</h1>
<br />

<div class="info-image"><%= image_tag "http://1.bp.blogspot.com/-QX5stdmmi-M/Us6pb4kS4sI/AAAAAAAABHY/MU4xhir3Sr0/s1600/FuriousBeer.jpg", alt: "Surly Furious" %></div>

<h2>Surly:</h2>
<p>
Surly is the most popular local brewer. Their popularity is well deserved. Hop lovers order Furious. Everyone else asks for Bender. Surly is widely available in Minneapolis (enter zip code 55402 <span class="content-link"><%= link_to "here", "http://www.surlybrewing.com/index.php?id=17", target: "_blank" %></span>) to find out where. Go get some.
</p>

<h2>Steel Toe:</h2>
<p>Steel Toe is just a couple of years old. Many think their Size 7 IPA is the best IPA made in Minnesota. It's not available at very many places, so get it if you see it. In downtown Minneapolis, Pizza Luce is the place most likely to have it. Protip: Go to the Steel Toe tap room. It's a 7 mile cab ride from the Westin. Check the <span class="content-link"><%= link_to "web site", "http://www.steeltoebrewing.com/ ", target: "_blank" %></span> for hours and directions.
</p>

<h2>Fulton Brewery:</h2>
<p>Another newcomer. Get Sweet Child of Vine if you're a hop lover. If you don't like hops, no worries, they make plenty of great beer. It's less than a mile walk from the Westin Hotel. You'll walk past Target Field. Go Twins! Check the Fulton <span class="content-link"><%= link_to "web site", "http://fultonbeer.com/the-brewery", target: "_blank" %></span> to make sure the tap room is open before you head over.
</p>

<h2>Summit:</h2>
<p>
Summit was the first craft brewery in Minnesota. They've grown so much that most people don't think of them as a craft brewer. Their beer is available just about everywhere. It's so easy to find that it's only recommended when your establishment doesn't have any of the other beers discussed here.
</p>

<h2>More:</h2>
<p>
Other local breweries with good reputations are 612, Brau Brothers, Indeed, Lift Bridge, Lucid. If you see it on tap, get some!
</p>
<br />
<br />

<h1>Where to get them:</h1>

<h2>Bars!</h2>
<p>
The bars/restaurants in downtown Minneapolis with the best beer lists are <span class="content-link"><%= link_to "Pizza Lucè", "http://pizzaluce.com/locations/downtown-minneapolis", target: "_blank" %></span> and <span class="content-link"><%= link_to "Mackenzie Pub", "http://mackenziepub.com/", target: "_blank" %></span>. Giddy up!
</p>
<br />

<h2>Best brew pub: Town Hall</h2>
<p>
Town Hall is a brew pub, which means you can only get their beer at the pub. So go to the pub. It's not very far from the Westin Hotel. It's a 1.4 mile walk if you take the most direct route, 2.1 miles if you walk along the river. Protip: walk along the river on the way to Town Hall, take the direct route on the way back. They have a nice big patio if you'd like to dine outside. If you have the time, you should go to Town Hall. Make sure you order a beer that Town Hall makes (they serve others). Another protip: ask them what's in the cask, and then order one. More details at their <span class="content-link"><%= link_to "web site", "http://www.townhallbrewery.com/#contact", target: "_blank" %></span>.
</p>
<br />
<br />

<h1>Don't get these:</h1>
<br />

<div class="info-image"><%= image_tag "http://images.fineartamerica.com/images-medium-large-5/grain-belt-beer-sign-and-hennepin-avenue-bridge-bradley-gross.jpg", alt: "Grain belt sign" %></div>

<h2>Grain Belt:</h2>
<p>You've heard of Minnesota Nice? This isn't it! The best thing about Grain Belt is their <span class="content-link"><%= link_to "sign", "http://images.fineartamerica.com/images-medium-large-5/grain-belt-beer-sign-and-hennepin-avenue-bridge-bradley-gross.jpg", target: "_blank" %></span>. It's located on the shore of the Mississippi River near Hennepin Avenue. It's easily visible from the Hennepin Avenue bridge and from the paved walking/biking path that goes along the river. Taking a selfie in front of the Grain Belt sign is a thing. You should do it, but you shouldn't drink the beer. Google "Grain Belt Beer sign, Minneapolis, MN" for details. <span class="editors-note">(Editor's Note: This is basically the Pabst Blue Ribbon of MN. That should probably tell you everything you need to know. Full disclosure: I'm drinking a Grain Belt as I write this.)</span>
</p>

<h2>Blue Moon:</h2>
<p>Their beer is popular in the Twin Cities. But it doesn't have to be! Just say no to Blue Moon! You'll be glad you did.
<p/>

<h2>Hamm's:</h2>
<p>
Its made around here. Or at least it used to be. Nobody cares any more. Don't drink Hamm's. <span class="editors-note">(Editor's Note: Agreed.)</span>
</p>

<h2>Bud, Bud Lite, Miller, Miller Lite, etc.:</h2>
<p>
Shame on you! <span class="editors-note">(Editor's Note: Unless it is Bud Light Lime. Then it's OK. Or better than OK. I really like that beer.)</span>
</p>
