<h1>Food</h1>
<br />
<p>
  Sometimes cities have a food that is all their own: the Philly Cheesesteak, Chicago-Style pizza, a Primanti Brothers sandwich in Pittsburgh. Well in Minneapolis we have the <span class="strong">Jucy Lucy</span> (or Juicy Lucy depending on who you ask). When everyone else was foolishly putting cheese on top of their burgers, a brave Minneapolitan said, "No....that is wrong" and put the cheese <span class="strong">inside</span> (!) the burger (whaaaaaat!)
</p>
<br />
<p>
  Accounts differ as to who that actually was, but the three favorite places to get them are at <span class="content-link"><%= link_to "Matt's Bar", "http://www.mattsbar.com/index-1.html"%></span> (Minneapolis), the <span class="content-link"><%= link_to "5-8 Club", "http://www.5-8club.com/"%></span> (Minneapolis), and <span class="content-link"><%= link_to "The Nook", "http://www.crnook.com/"%></span> (St. Paul). None of these places is super close to downtown, unfortunately, so you may not be able to go unless you have some extra time to explore (and maybe a car). BUT, there are plenty of places <span class="content-link"><%= link_to "downtown", "http://www.yelp.com/search?find_desc=juicy+lucy&find_loc=Downtown+Minneapolis,+Minneapolis,+MN", target: "_blank" %></span> where you can try one...which you should.</p>
<br />
<div class="info-image"><%= image_tag "jucy-lucy.jpg", alt: "Jucy Lucy" %></div>

<br />
<h2>Downtown</h2>
<div class="info-image"><%= image_tag "downtown2.jpg", alt: "Downtown" %></div>

<p>OK, now here are some actual restaurant options in the downtown area for your consideration (in no particular order):</p>

<ul class="restaurant-list">
  <li>
    <h3>D'Amico & Sons</h3>
    <p>If you want something quick, local, healthy, and on the same block as the hotel for lunch on Saturday, try stopping here. Here's a <span class="content-link"><a href="http://www.damico.com/menus/MN-DAmico-Sons%20Menu-1213.pdf" target="_blank">menu</a></span>. </p>
    <p class="address">555 Nicollet Mall <br />Minneapolis, MN 55402</p>
  </li>
  <li>
    <h3>Mission</h3>
    <p>Kind of fancy but not crazy expensive.</p>
    <p class="address">77 7th Street South <br /> Minneapolis, MN 55402</p>
  </li>
  <li>
    <h3>Manny's</h3>
    <p>Very well known steakhouse. Ever see a list of America's best steakhouses in an in-flight magazine? This place is on there. Fancy and expensive.</p>
    <p class="address">825 Marquette Ave S <br /> Minneapolis, MN</p>
  </li>
  <li>
    <h3>Gluek's</h3>
    <p>Casual, good beer</p>
    <p class="address">16 N 6th St <br />Minneapolis, MN</p>
  </li>
  <li>
    <h3>Hell's Kitchen</h3>
    <p>Good brunch, live music</p>
    <p class="address">80 South 9th Street <br />Minneapolis, MN 55402</p>
  </li>
  <li>
    <h3>Bradstreet Crafthouse</h3>
    <p>Not really a dinner place but have good small plates and make pre-prohibition cocktails.</p>
    <p class="address">601 1st Ave N <br />Minneapolis, MN 55403</p>
  </li>
  <li>
    <h3>Fogo de Chão</h3>
    <p>All-you-can-eat Brazilian meat</p>
    <p class="address">645 Hennepin Ave <br />Minneapolis, MN 55402</p>
  </li>
  <li>
    <h3>Solera</h3>
    <p>Spanish Tapas!</p>
    <p class="address">900 Hennepin Ave <br />Minneapolis, MN 55403</p>
  </li>
  <li>
    <h3>Murray's</h3>
    <p>Steakhouse</p>
    <p class="address">26 S 6th St <br />Minneapolis, MN 55402</p>
  </li>
  <li>
    <h3>Pizza Luce</h3>
    <p>Good pizza, good beer. Not too expensive.</p>
    <p class="address">119 N 4th St <br />Minneapolis, MN 55401</p>
  </li>
  <li>
    <h3>Grumpy's Bar and Grill</h3>
    <p>They have Jucy Lucys!</p>
    <p class="address">119 N 4th St <br />Minneapolis, MN 55401</p>
  </li>
  <li>
    <h3>Zelo</h3>
    <p>Pasta, pizza, steak, fish. Assorted good stuff. If they have the goat cheese cheesecake, that's a must-get.</p>
    <p class="address">831 Nicollet Mall <br /> Minneapolis, MN 55402</p>
  </li>
  <li>
    <h3>Kieran's Irish Pub</h3>
    <p>Good pub food, Irish food.</p>
    <p class="address">85 6th St N <br />Minneapolis, MN 55403</p>
  </li>
  <li>
    <h3>The Local</h3>
    <p>Another Irish pub with good food.</p>
    <p class="address">931 Nicollet Mall <br />Minneapolis, MN 55402</p>
  </li>
</ul>

<br />
<h2>Uptown</h2>
<div class="info-image"><%= image_tag "uptown.jpg", alt: "Uptown" %></div>
<p>This is where we live! There's a bunch of good stuff around here. Here are a few:</p>

<ul class="restaurant-list">
  <li>
    <h3>Muddy Waters</h3>
    <p>If you're going to Uptown, definitely go here (we do all the time). Great beer list, good food, chill atmosphere. Not too pricey.</p>
    <p class="address">2933 Lyndale Ave S <br />Minneapolis, MN 55408</p>
  </li>
  <li>
    <h3>Lyndale Tap House</h3>
    <p>Right next to Muddy Waters. They serve Pit Beef sandwiches. If you know what that is, you'll probably want to go there. 2-4-1 Happy Hour specials (on some drinks) daily before 6pm.</p>
    <p class="address">2937 Lyndale Ave S <br />Minneapolis, MN 55408</p>
  </li>
  <li>
    <h3>Herkimer Pub and Brewery</h3>
    <p>The beer is OK...but its 2-4-1 for Happy Hour every day before 6pm, so there's that!</p>
    <p class="address">2922 Lyndale Ave S <br />Minneapolis, MN 55408</p>
  </li>
  <li>
    <h3>French Meadow Bakery</h3>
    <p>Great bakery that also makes good brunch, lunch, and dinner.</p>
    <p class="address">2610 Lyndale Ave S, <br />Minneapolis, MN 55408</p>
  </li>  
  <li>
    <h3>It's Greek To Me</h3>
    <p>Terrible name, awesome food.</p>
    <p class="address">626 W Lake St, <br />Minneapolis, MN 55408</p>
  </li>  
  <li>
    <h3>Fuji Ya</h3>
    <p>Sushi!</p>
    <p class="address">600 W Lake St <br />Minneapolis, MN 55408</p>
  </li>
  <li>
    <h3>Origami</h3>
    <p>Also sushi!</p>
    <p class="address">1354 Lagoon Ave <br />Minneapolis, MN</p>
  </li>
  <li>
    <h3>The Republic</h3>
    <p>Good food, great beer list. Get a beer flight, its an awesome deal. Nice location overlooking Calhoun Square (pictured above).</p>
    <p class="address"> 3001 Hennepin Ave #2200 <br />Minneapolis, MN 55408</p>
  </li>
  <li>
    <h3>Chino Latino</h3>
    <p>Bad beer list but pretty good food apparently. They try to have items on their menu from places all over the world that straddle the equator.</p>
    <p class="address">2916 Hennepin Ave S <br />Minneapolis, MN 55408</p>
  </li>
  <li>
    <h3>Tum Rup Thai</h3>
    <p>Good Thai food</p>
    <p class="address">1221 W Lake St <br />Minneapolis, MN 55408</p>
  </li>
  <li>
    <h3>Punch Pizza</h3>
    <p>A bit out of the way, but if you find yourself walking around the lakes you should totally stop here. It's in a random strip mall, but this is some of my favorite pizza. Don't mess around, just get the Margherita. I dare any East Coaster to not like this pizza. Fun Fact: Punch Pizza got a shout-out during this year's State of the Union address.</p>
    <p class="address">3226 W Lake St <br />Minneapolis, MN</p>
  </li>
</ul>

<br />
<h2>St. Paul</h2>
<div class="info-image"><%= image_tag "moscow.jpg", alt: "Moscow on the Hill" %></div>

<p>If you're looking to go into St. Paul (other than for the wedding) just go to <span class="content-link"><%= link_to "Moscow on the Hill", "http://moscowonthehill.com/" %></span> and get the Siberian Pelmeni. <span class="italic">Holy. Crap.</span> Really, really good.</p>
<br />
<br />
