<ul>
  <li><%= link_to "Home", home_path %></li>
  <li><%= link_to "Accommodations", accommodations_path %></li>
  <li><%= link_to "Directions", directions_path %></li>
  <li><%= link_to "Local Recommendations", recommendations_path %></li>                 
  <li><%= link_to "Registry", registry_path %></li>
  <li><%= link_to "RSVP", rsvp_path %></li>
  <li><%= link_to "Schedule", schedule_path %></li>
  <li><%= link_to "Contact Us", contact_us_path %></li>  
</ul>