<h1>Photos</h1>
<br />
<p>
  Come back here after the wedding to see some photos and share some of your own! For now, here's a random smattering of engagement photos:
</p>

<% if true %>
  <div class="info-image"><%= image_tag "engagement_1.jpg", alt: "Engagement photo" %></div>
  <div class="info-image"><%= image_tag "engagement_2.jpg", alt: "Engagement photo" %></div>
  <div class="info-image"><%= image_tag "engagement_3.jpg", alt: "Engagement photo" %></div>
  <div class="info-image"><%= image_tag "engagement_4.jpg", alt: "Engagement photo" %></div>
  <div class="info-image"><%= image_tag "engagement_5.jpg", alt: "Engagement photo" %></div>
  <div class="info-image"><%= image_tag "engagement_6.jpg", alt: "Engagement photo" %></div>
  <div class="info-image"><%= image_tag "engagement_12.jpg", alt: "Engagement photo" %></div>
  <div class="info-image"><%= image_tag "engagement_13.jpg", alt: "Engagement photo" %></div>
  <div class="info-image"><%= image_tag "engagement_14.jpg", alt: "Engagement photo" %></div>
  <div class="info-image"><%= image_tag "engagement_15.jpg", alt: "Engagement photo" %></div>  
  <div class="info-image"><%= image_tag "engagement_7.jpg", alt: "Engagement photo" %></div>
  <div class="info-image"><%= image_tag "engagement_8.jpg", alt: "Engagement photo" %></div>
  <div class="info-image"><%= image_tag "engagement_10.jpg", alt: "Engagement photo" %></div>
  <div class="info-image"><%= image_tag "engagement_11.jpg", alt: "Engagement photo" %></div>  
  <div class="info-image"><%= image_tag "engagement_16.jpg", alt: "Engagement photo" %></div>
  <div class="info-image"><%= image_tag "engagement_17.jpg", alt: "Engagement photo" %></div>
  <div class="info-image"><%= image_tag "engagement_18.jpg", alt: "Engagement photo" %></div>
  <div class="info-image"><%= image_tag "engagement_19.jpg", alt: "Engagement photo" %></div>
  <div class="info-image"><%= image_tag "engagement_20.jpg", alt: "Engagement photo" %></div>
<% end %>